<div class="fixed-top">
  <div class="header">
    <div class="container">
      <div class=row>
        <div class="col-lg-2">
          <img
          width="40"
          alt="Onto-agorforestry Logo"
          src="assets/img/onto-agroforestry_sans_titre.png"
          />
          <span>{{"HEADER.TITLE" |translate}}</span>
        </div>
        <div class="col-lg-7 col-lg-offset-1">
          <app-main-menu></app-main-menu>
        </div>
        <div class="col-lg-1 col-lg-offset-1">
          <span>{{"HEADER.RIGHT" |translate}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
