.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  font-weight: 600;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
