
<nav ngbNav #nav="ngbNav" class="nav-tabs">
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="home">Home</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="view-plots">Plots view</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="view-plots2">Plots2 view</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="tutorials">tuto</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="tutorials/:id">détail tuto</a>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink routerLink="add">add tuto</a>
  </ng-container>
</nav>
